/*------------------
FONT
--------------------*/
/*This is the font collection*/
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700); 

/*------------------
HEADER
--------------------*/

/*This is the header bro*/
#header 
{
    background-color: #565774;
    width: 100%;
    height: 200px;
}

/*This is the logo's value*/
.imgheader img 
{
    width: 180px;
    float: left;
}

/*This one is the text for tagline*/
.imgheader span
{
    color: white;
    position: absolute; 
    top: 90px; 
    left: 110px; 
    width: 100%;
    font-family: "Source Sans Pro";
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7); /*black is 0, 0, 0 in rgb and 0.3 is the opacity/transparant value. Higher is darker or less transparant*/
    clear: both;
}

/* Float the list items side by side */
ul.topnav li 
{
    float: left;
}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover to menu */
ul.topnav li a:hover {background-color: #111;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

/*-------------
CONTAINER
---------------*/

/*ontainer fis the style or the sidebar and content*/

div.container 
{
  border: none;
  overflow: hidden;
  width: 100%;
}

div.left 
{
  width: 60%;
  float: left;
}

div.right 
{
  width: 35%;
  float: right;
}

/*This is to display blockquote*/
blockquote.style1 {
  font: 14px/20px italic Times, serif;
  padding: 8px;
  background-color: #faebbc;
  border-top: 1px solid #e1cc89;
  border-bottom: 1px solid #e1cc89;
  margin: 5px;
  background-image: url(http://brikwars.com/wiki/images/b/be/Open_quote.png);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 23px;
  }
  blockquote.style1 span {
      display: block;
      background-image: url(http://brikwars.com/wiki/images/b/be/Open_quote.png);
      background-repeat: no-repeat;
      background-position: bottom right;
    }