div.blog {
  width: 28%;
}

section.main {
  width: 66%;
  border-right: 0;
}

div.places.Japan, div.places.Norway, div.places.Faeroe  {
  width: 100%;
}

aside {
  display: none;
}


footer ul {
  justify-content: space-around;
}
