/*at 680px width the blog bar goes on top and displays only the links to the information pages, no videos*/

div.blog {
  width: 99%;
  border-right: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
  .post {
    flex: 1;
    height: auto;
    margin: 0 1%;
    padding: 0 1%;
    border-right: 1px solid lightgray;
    box-sizing: border-box;
  }

    .blog .post .videoWrapper {
      display: none;
    }

    blockquote p {
      display: none;
    }

/*the main section composes the contents in this view*/

section.main {
  width: 98%;
}

/*the right bar goes in the bottom and is displayed horizontally; the flex items are re-sized properly*/

aside {
  width: 100%;
  float: left;

}

.bar-right {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.bar-right li {
  flex: 1;
  height: auto;
}

footer ul li {
  min-width: 125px;
}
