/*------------------
FONT
--------------------*/
/*This is the font collection*/
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);

/*------------------
HEADER
--------------------*/

/*This is the header bro*/
#header
{
    background-color: #565774;
    width: 100%;
    height: 200px;
}

/*This is the logo's value*/
.imgheader img
{
    width: 180px;
    float: left;
}

/*This one is the text for tagline*/
.imgheader span
{
    color: white;
    position: absolute;
    top: 90px;
    left: 120px;
    width: 100%;
    font-family: "Source Sans Pro";
    font-size: 1em;
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7); /*black is 0, 0, 0 in rgb and 0.3 is the opacity/transparant value. Higher is darker or less transparant*/
    clear: both;
}

/* Float the list items side by side */
ul.topnav li
{
    float: left;
}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover to menu */
ul.topnav li a:hover {background-color: #111;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

/*-------------
CONTAINER
---------------*/

/*container fits the style or the sidebar and content*/

div.container
{
  border: none;
  overflow: hidden;
  width: 100%;
}

div.left
{
  width: 60%;
  float: left;
}

div.right
{
  width: 35%;
  float: right;
}

/*This is to display blockquote*/

blockquote.style1 {
  font: 1.2em italic Times, serif;
  background-color: #faebbc;
  background-image: url(../img/open_quote.png);
  margin: 0;
  height: 100%;
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 23px;
  }
blockquote.style1 span {
    display: block;
    background-image: url(../img/open_quote.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }

/*Andrey styling to display warpping container for 3 columns: aside, main and sidebar*/

  #wrapper {
    width: 100%;
    margin: 0, auto;
  }

  div.holder {
    width: 100%;
    display: inline-block;
    margin-top: 2%, auto;
  }

  /*styling for the left scroll bar with latest news posts*/

  div.blog {
    width: 22%;
    height: auto;
    padding-right: 1%;
    margin: 0 1%;
    margin-bottom: 1%;
    box-sizing: border-box;
    border-right: 1px solid grey;
    float: left;
  }

      .post {
        border-bottom: 1px solid gray;
      }

      .post p {
        font-size: 1em;
      }

      .post a {
        text-decoration: none;
        color: black;
      }

      .post a:hover {
        color: darkblue;
      }

  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    }
    .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/*styling for the main section*/

  section.main {
    width: 50%;
    height: auto;
    border-right: 1px solid grey;
    margin: 0 1%;
    float: left;
    display: flex;
    flex-wrap: wrap;
  }
    div.places {
      width: 100%;
      display: inline-block;
      padding: 1%;
      box-sizing: border-box;
      height: auto;
    }

    div.places.Japan {
      width: 50%;
    }

        .embedly-card iframe {
          width: 100%;
        }

        .embedly-card .provider {
          width: 100%;
        }

/*styling for the right scroll bar with the links to the relevant organiyations*/

  aside {
    width: 20%;
    height: auto;
    margin: 0 1%;
    box-sizing: border-box;
    float: left;
  }

  .bar-right{
    height: 100%;
    list-style: none;
    list-style-position: inside;
    text-align: center;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: stretch;
  }

    .bar-right li {
      flex: 1;
      height: auto;
      margin: 0 1%;
      padding: 1%;
      border-left: 1px solid grey;
      margin: 2% 0;
      padding: 3% 0;
      border-bottom: 1px solid lightgray;
      box-sizing: border-box;
    }

    .bar-right li a {
      height: 100%;
      display: block;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
      color: black;
    }
        .bar-right li a img {
          width: 100%;
        }

        .bar-right li img {
          width: 100%;
        }

/*styling the footer*/

  footer {
    margin: 1%;
    box-sizing: border-box;
  }

  footer ul {
    width: 100%;
    height: auto;
    list-style: none;
    list-style-position: inside;
    text-align: center;
    margin: 0;
    padding: 1%;
    background-color: #565774;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
  }

    footer ul li a {
      display: block;
      padding: 1em;
      text-decoration: none;
      color: black;
    }


/*Adding the box-sizing property to prevent image caption borders from getting cut off in responsive designs*/
*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**styling the donation text*/

div.donationtext {
  width: 98%;
  margin: 0;
}
.donationtext p {
    font-size: 1.6em;
}

form.paypal {
  margin: 2% 0;
}

/*styling the ul in the newsletter form on join.html*/
#feedback {
  width: 95%;
  padding:0;
  box-sizing: border-box;
  position: relative;
}

.contact, .emotions {
  list-style: none;
  list-style-position: inside;
  padding: 0;
  margin-left: -10px;
}

  .contact li, .emotions li {
    margin: 10px;
  }

  .contact li input, .contact li label {
    text-align: left;
  }

  textarea#comments {
    width: 100%;
    text-align: left;
  }
